In [ ]:
print("hello world!")
print('hello world!')
print(1)
print(2 + 1)
print("2 + 1")

hello world!
hello world!
1
3
2 + 1

In [ ]:
print("python", "is", "cool")
print("my favourite is", 10)
print("2 + 1 =", 2 + 1)

python is cool
my favourite is 10
2 + 1 = 3

In [ ]:
print("python", "is", "cool", sep = "-")
print(23, 11, 2025, sep = "/")

python-is-cool
23/11/2025

In [ ]:
print("hello", end = " ")
print("world")

hello world

In [ ]:
print("hello", end = "!!!")

hello!!!

In [ ]:
print("my name is ebrima.\ni am a coder.\ni live in turkey.")

my name is ebrima.
i am a coder.
i live in turkey.

In [ ]:
print("name\tage\tgender")
print("ebrima\t30\tmale")

name	age	gender
ebrima	30	male

In [ ]:
name = "ebrima"
print(name)

ebrima

In [ ]:
f name = "john"
print(f name)

SyntaxError: invalid syntax (<ipython-input-5-3117127cb240>, line 1)

In [ ]:
first = "ebrima"
print(First)

NameError: name 'First' is not defined

In [ ]:
if = "ebrima"
print(if)

SyntaxError: invalid syntax (<ipython-input-7-31407ef5b4c1>, line 1)

In [ ]:
first@ ="john"
print(first@)

SyntaxError: invalid syntax (<ipython-input-8-1954e51267b0>, line 1)

In [ ]:
user_name = "ebrima"
print(user_name)

last_name = "jallow"
print(last_name)

ebrima
jallow

In [ ]:
PI = 3.142
print(PI)

MAX_VALUE = 100
print(MAX_VALUE)

3.142
100

In [ ]:
name = "ebrima"
age = 50
price = 11.99
is_active = True

In [ ]:
print(type(name))
print(type(age))
print(type(price))
print(type(is_active))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
age = float(age)
print(age)
print(type(age))

50.0
<class 'float'>

In [ ]:
value = '124'
print(type(value))

value = int(value)
print(type(value))

<class 'str'>
<class 'int'>

In [ ]:
oil_price = 22.9
print(oil_price)
print(type(oil_price))

oil_price = int(oil_price)
print(oil_price)
print(type(oil_price))

22.9
<class 'float'>
22
<class 'int'>

In [ ]:
me = "ebrima"
print(type(name))

name = float(name)
print(type(name))

<class 'str'>

ValueError: could not convert string to float: 'ebrima'

In [ ]:
a = 25
b = 4

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

29
21
100
6.25
6
1
390625

In [ ]:

result = 3 + 5 * 2 ** 2 - (4 / 2)
print(result)

21.0

In [10]:
# single line comments
# this is a comment
print("hello") # this is also a comment

hello

In [11]:
# multliline comments

"""
this is a multiline comments
i love python
documentation
"""
print("python is awesome")

python is awesome

In [1]:
#print("this line of code will not be executed")
print("i love you")

i love you

In [ ]:
message1 = "hello"
message2 = 'hello'

In [2]:
text = """this is a multi-line string
it can have multilines"""

print(text)

this is a multi-line string
it can have multilines

In [5]:
# +
f_name = "ebrima"
l_name = "jallow"

info = f_name + " " + l_name
print(info)

ebrima jallow

In [8]:
# *
print("ebrima " * 3)

ebrima ebrima ebrima

In [10]:
f_name = "ebrima"
print('the length of my name is', len(f_name))

the length of my name is 6

In [12]:
full_name = "Ebrima Jallow"
print(full_name.upper())
print(full_name.lower())

EBRIMA JALLOW
ebrima jallow

In [14]:
text = "      I love Python     "
print(text.strip())

I love Python

In [18]:
message = "python is amazing"
print("python" in message)
print("java" in message)

True
False

In [47]:
name = "ebrima"
age = 30
print(f"my name is {name} and i am {age} years old.")
print("my name is {} and i am {} years old.".format(name, age))
print("my name is %s and i am %d years old." % (name, age))

my name is ebrima and i am 30 years old.
my name is ebrima and i am 30 years old.
my name is ebrima and i am 30 years old.

In [1]:
num1 = 10
num2 = 5
print(f"the sum of {num1} and {num2} is {num1 + num2}")

the sum of 10 and 5 is 15

In [2]:
name = input("enter your name: ")
print(f"hello {name}")

enter your name: ebrima
hello ebrima

In [3]:
age = input("enter your age: ")
print(f"your age is {age} and the data type is {type(age)}")

enter your age: 30
your age is 30 and the data type is <class 'str'>

In [9]:
num1 = int(input("enter first number: "))
num2 = int(input("enter second number: "))

print(f"sum of {num1} and {num2} = {num1 + num2}")

enter first number: 20
enter second number: 10
sum of 20 and 10 = 30

In [12]:
f_name, l_name = input("enter your name: ").split()
print(f"your first name is {f_name} and your last name is {l_name}")

enter your name: ebrima jallow
your first name is ebrima and your last name is jallow

In [14]:
print("Hello World")

Hello World

In [16]:
name = "Ebrima"
print(name)

Ebrima

In [19]:
age = "30"
new_age = int(age) + 5
print(new_age)

35

In [21]:
print("Hello World")

Hello World

In [23]:
# write a program to ask a user to enter their birth year and calculate their age

# steps below
# use print statement to out put a welcoming message like welcome to the age calculator.
print("welcome to the age calculator")

# ask user to input their birth year and store it as birth_year
birth_year = int(input("enter your birth year: "))

# ask user to input the current year and store it as current_year
current_year = int(input("enter the current year: "))

# subtract current_year from birth_year and save it as age
age = current_year - birth_year

# use f'string to output the age of the user
print(f'you are {age} years old')

welcome to the age calculator
enter your birth year: 1994
enter the current year: 2025
you are 31 years old