Data types can be converted using type casting functions sunch as:
(int(), float(), str(), etc.).

We are only focus on primitive data types for now.

In [1]:
# data types
name = "Python"  # String
age = 50         # Integer
price = 11.99     # Float
is_active = True # Boolean

In [2]:
# type casting
# coverting an integer to string
age = str(age) # convert to string
print(age)
print(type(age)) # check data type

50
<class 'str'>

In [3]:
# converting an integer to a float
age = float(age) # convert to float
print(age)
print(type(age)) # check data type

50.0
<class 'float'>

In [4]:
# converting a string to an integer value
value = "124"
print(type(value))
value = int(value)  # convert to integer
print(type(value))

<class 'str'>
<class 'int'>

In [5]:
# convert from float to an integer
oil_price = 22.9
print(type(oil_price))

oil_price = int(oil_price)
print(oil_price)
print(type(oil_price))

<class 'float'>
22
<class 'int'>

In [6]:
# we cannot convert letters, characters, symbols or alphabets to either an integer or float as they are not numbers
name = "ebrima"
print(type(name))
name =int(name)
print(type(name))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'ebrima'