What is a List in Python?
A list in Python is a collection of items stored in a single variable.

Lists are ordered, changeable (mutable), and can contain items of different data types (like strings, numbers, booleans, etc.).

***List Syntax***

my_list = [item1, item2, item3, ...]

Lists are created using square brackets [ ]

Items inside the list are separated by commas

A list can be empty, or contain any number of elements


***Key Features of Lists***

1.Ordered: Items have a defined order and that order won’t change unless you modify the list.

2.Mutable: You can change, add, or remove elements after the list is created.

3.Indexed: Each item has an index (starting from 0 for the first item).

In [1]:
# Creating a list of numbers
numbers = [10, 20, 30, 40]
print(numbers)               # Output: [10, 20, 30, 40]
print(type(numbers))        # Output: <class 'list'> — confirms it's a list

[10, 20, 30, 40]
<class 'list'>

In [2]:
# Creating a list of fruits
fruits = ["apple", "banana", "cherry"]
print(fruits)               # Output: ['apple', 'banana', 'cherry']
print(type(numbers))        # Output: <class 'list'> — again confirming list type

['apple', 'banana', 'cherry']
<class 'list'>

In [3]:
# Creating a mixed list with different data types
mixed = ["hello", 42, True, 3.142]
print(mixed)                # Output: ['hello', 42, True, 3.142]
print(type(mixed))          # Output: <class 'list'>

['hello', 42, True, 3.142]
<class 'list'>

In [4]:
# Accessing elements using positive indexing from the beginning
fruits = ["apple", "banana", "cherry"]
print(fruits[0])            # Output: 'apple' — first item in the list
print(fruits[1])            # Output: 'banana' — second item in the list
print(fruits[2])            # Output: 'cherry' — third item in the list

apple
banana
cherry

In [5]:
# Negative indexing: accessing elements from the end
numbers = [10, 20, 30, 40]
print(numbers[-1])          # Output: 40 — last item
print(numbers[-2])          # Output: 30 — second-to-last
print(numbers[-3])          # Output: 20
print(numbers[-4])          # Output: 10 — first item

40
30
20
10

In [6]:
# Updating and modifying elements in a list
fruits = ["apple", "banana", "cherry"]
fruits[1] = "mango"         # Changing 'banana' to 'mango'
fruits[2] = "orange"        # Changing 'cherry' to 'orange'
print(fruits)               # Output: ['apple', 'mango', 'orange']

['apple', 'mango', 'orange']

In [7]:
# Updating a number in the list
numbers = [10, 20, 30, 40]
numbers[0] = 1              # Changing first element from 10 to 1
print(numbers)              # Output: [1, 20, 30, 40]

[1, 20, 30, 40]