Print function allows us to display information such as text, numbers, variables or results of expressıon on the screen or console.

Basic Synthax of  print()   
​
print(*objects, sep=' ', end='\n’)

Explanation of Parameters:​

 *objects = the text, numbers , variables etc you want to print separated by comma.  You can pass multiple objects that are separated by comma.​


 sep = ''   ~ Indicates how we want to separate multiple objects (optional)​

 end = ' \n' ~ what you want to print at the end of the text, numbers, variables etc (optional).  By default is a newline

 we have more parameters than these but as beginners we will focus only on these ones for now.

​

In [1]:
# single values
print("hello world!")  # note that whatever you put inside quotes that is what is printed
print(1)      # numbers are either integers (whole numbers) or float (decimal numbers)
print(2 + 3)
print("2 + 3")

hello world!
1
5
2 + 3

In [2]:
# multiple objects
# they are separated by a comma

print("python", "is", "cool.") # The comma (,) separates objetcts and adds a default space between them.

# we can also print numbers and variables together
print("my favourite number is", 10)
print('2 + 3 =', 2 + 1)
print('hello', 20, 23.9, True)

python is cool.
my favourite number is 10
2 + 3 = 3
hello 20 23.9 True

**Customizing the print function**

In [3]:
# sep parameter
# By default, Python separates multiple values with a space. We can change this using the sep parameter."
print("python", "is", "cool.", sep="-")  # separated by a dash
print(23, 11, 2025, sep="/")  # forward slash
print(13, 11, 2025, sep="/")  # forward slash # put zero to have an error

python-is-cool.
23/11/2025
13/11/2025

In [4]:
# end parameter
# By default, print() ends with a newline. You can change this:
print("hello", end=" ")  # end parameter replaces the newline with a space
print("world")

hello world

In [5]:
print("Python", end="!!! ") # immediately after the 'hello' is outputted add 3 exclamation marks

Python!!!

In [6]:
# \n means go to a newline
print("my name is ebrima.\ni am a coder.\ni live in turkey.")

my name is ebrima.
i am a coder.
i live in turkey.

In [8]:
# \t this means add a horizontal tab

print('name\tage\tsex') # equal and resonable space of lets say 4 spaces
print('ebrima\t30\tmale')

name	age	sex
ebrima	30	male